.load {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    background: url(images/loader-64x/Preloader_3.gif) center no-repeat;
}

.body{
    filter: blur(2px);
    background-color: #ccc;
}