{% extends "layout.html" %}

{% block stylesheets %}
  <style>html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}</style>
{% endblock %}

{% block header %}
  <li class="nav-item">
    <a class="nav-link" href="#firstSection">Search by Country</a>  
  </li>

{% endblock %} 

{% block headerMobile %}
  <li class="nav-item">
    <a class="nav-link" href="#firstSection">Search by Country</a>  
  </li>
{% endblock %}

{% block startBlock %}
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="heading-count">
        <h3> WROG </h3>
          <h4> Where Are the wOrld Going <br>
          Customized Retrieval System for news in the World</h4>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <a href="#firstSection" class="btn btn-common"> RESULT FOR {{country}}</a>
  </div>
{% endblock %}
    
{% block firstSection %}
  <h2 class="section-title">
    {{country}}
  </h2>

  <form action = " " method="post" enctype = "multipart/form-data" onsubmit="loading()">
    
    <div class="row">
      <div class="col-md-12">
      		<form class="pure-form" action = " " method = "post" enctype = "multipart/form-data" onsubmit="loading()">
      			 <button class="btn btn-border" type = "submit" name = "return_main_tab"> HOME PAGE </button>
      		</form>
      		<div id="chartdiv"></div>
      </div>
      

    </div>

<meta id="my-data" data-name="{{text}}">

{% endblock %}


{% block scripts %}
<script>
  // Themes begin
// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end


var chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);
var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());

series.accuracy = 4;
series.step = 15;
series.rotationThreshold = 0.7;
series.maxCount = 200;
series.minWordLength = 2;
series.labels.template.tooltipText = "{word}: {value}";
series.fontFamily = "Courier New";
series.maxFontSize = am4core.percent(50);

var images_numbers = eval($('#my-data').data());
series.text = images_numbers["name"];

</script>

{% endblock %}

